{% extends "base.html" %}
{% block main %}
{% load static %}
<div
  class="hero min-h-screen"
  style="background-image: url({% static 'assets/images/background.jpg' %});"
>
<div class="hero-content flex-col lg:flex-row-reverse">
<div class="text-neutral-content text-center lg:text-left" x-data="{
       copy(text) {
         navigator.clipboard.writeText(text);
       }
     }">
    <h1 class="text-6xl font-bold">Hydraulink</h1>
    <p class="py-6 text-2xl">
        Hydraulic Press Your Link
    </p>
</div>
<div class="card bg-base-100 w-full max-w-xl shrink-0 shadow-2xl">
    <div class="card-body">
    <form method="post">
        {% csrf_token %}
    <fieldset class="fieldset">
        <label for="id_password" class="label text-xl">請輸入密碼</label>
        <input type="password" name="password" class="input w-full" required />
        <label label for="id_note" class="label text-xl flex justify-between items-center">備註</label>
        <textarea name="note" id="id_note" class="textarea textarea-bordered w-full" readonly>
           {{ note }}
        </textarea>
        <button class="btn btn-neutral mt-4">送出</button>
    </fieldset>
    </form>
    </div>
</div>
</div>
{% endblock %}