{% extends "base.html" %}
{% block main %}
<div x-data="shortUrlList()" class="overflow-x-auto mt-6">

  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th>短網址</th>
        <th>點擊次數</th>
        <th>原始網址</th>
        <th>狀態</th>
      </tr>
    </thead>
    <tbody>
      {% for url in short_urls %}
      <tr>
        <!-- 複製按鈕 -->
        <td>
          <button class="btn btn-sm btn-outline"
                  @click="copy('{{ request.scheme }}://{{ request.get_host }}/{{ url.slug }}')">
            {{ url.slug }}
          </button>
        </td>
        
        <!-- 點擊次數 -->
        <td>
            {{ url.click_count }}
        </td>

        <!-- 原始網址 -->
        <td>
          <a href="{{ url.original_url }}" target="_blank" class="link link-hover">
            {{ url.original_url|truncatechars:50 }}
          </a>
        </td>

        <!-- 啟用按鈕 -->
        <td>
          <form method="POST" action="{% url 'press:toggle' url.slug %}"
                onsubmit="return confirm('是否切換啟用狀態？')">
            {% csrf_token %}
            <button type="submit"
                    class="btn btn-sm {% if url.is_active %}btn-success{% else %}btn-outline{% endif %}">
              {% if url.is_active %}已啟用{% else %}未啟用{% endif %}
            </button>
          </form>
        </td>

        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Alpine Script -->
<script>
  function shortUrlList() {
    return {
      copy(text) {
        navigator.clipboard.writeText(text)
      }
    }
  }
</script>
{% endblock %}
